{% extends 'shared/site_index.html' %}
{% block title %}Home | Cardea{% endblock %}
{% block extracss %}
        <link rel="stylesheet" type="text/css" href="/static/css/cardea.css"/>
        <link rel="stylesheet" type="text/css" href="/static/font/Myriad-Pro-Webkit/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/requires_login.css"/>
{% endblock %}
{% block homeclass %}active{% endblock %}
{% block howclass %}inactive{% endblock %}
{% block getclass %}inactive{% endblock %}
{% block faqclass %}inactive{% endblock %}
{% block content %}
<div id="error-page-container">Your session may have expired while you were in the middle of an action. Please login and retry your action.</div>
{% endblock %}